<ons-page>
    <div>
        <p style="text-align: center; margin-top: 10px;">
            <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)">
            </ons-search-input>
        </p>

        <ons-list>
            <ons-list-header>ผลการค้นหา</ons-list-header>
            <ons-list-item style="grid-auto-rows: max-content;">
                <ons-row>
                    <ons-col width="100px" style="margin-bottom: 10px;"><img src="img/1.jpg" style="width:100%; height: 100%;"></ons-col>
                    <ons-col style="margin-left: 10px; margin-top: 10px">    Kimetsu No Yaiba
                    </ons-col>
                  </ons-row>

                  <ons-row>
                    <ons-col width="100px" style="margin-bottom: 10px;"><img src="img/2.jpg" style="width:100%; height: 100%;"></ons-col>
                    <ons-col style="margin-left: 10px; margin-top: 10px">    Fantastic Beasts
                    </ons-col>
                  </ons-row>

                  <ons-row>
                    <ons-col width="100px" style="margin-bottom: 10px;"><img src="img/3.jpg" style="width:100%; height: 100%;"></ons-col>
                    <ons-col style="margin-left: 10px; margin-top: 10px">    Ouija
                    </ons-col>
                  </ons-row>
                  
            </ons-list-item>

        </ons-list>
    </div>

</ons-page>